@import url("../CSS/toggle.css");

@import url("../CSS/retro.css");

@font-face {
    font-family: 'digital';
    src: url('../fontes/digital-7.ttf') format('truetype');
}

:root {
    --button-blue: #def8f2;
    --background-blue: #F5F5F5;
    --pink-button: #FC5185;
    --dark-blue-button: #3FC1C9;
    --blue-input:#a7cacc;
    --blue-calc-bg: #364F6B;
    --button-retro:#fae1c1;
    --background-retro:#FFF3E2;
    --retro-calc-bg:#2D2424;
    --retro-input:#E0C097;
    --orange-button: #B85C38;
    --brown-button:#5C3D2E;
    --hover-retro:#FFF3E2;
    --font-theme-digital: 'digital';
    --font-header: 'DynaPuff', cursive;
    --font-retro: 'Press Start 2P', cursive;
}

body {
    height: auto;
    background-color: var(--background-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25rem;
    margin: 2rem;
    font-family: var(--font-header);
    position: relative;
}

header h1 {
    text-align: end;
    width: auto;
    font-size: 1.5rem;
}

header p{
    position: relative;
    left: 4.2rem;
    top: 0.5rem;
    text-transform: capitalize;
    font-size: 0.9rem;
}

#resultado {
    font-family:var( --font-theme-digital);
    background-color: var(--blue-input);
    width: 19rem;
    height: 5rem;
    text-align: end;
    line-height: 5rem;
    padding: 0 20px;
    overflow:hidden;
    border-radius: 0.3rem;
    margin: 20px 0 20px;
}

.botao {
    font-family: var(--font-theme-digital);
    font-size: 2rem;
    border: none;
    border-radius: 0.2rem;
    margin: 2px 2px;
    background-color: var(--button-blue);
    transition: 420ms;
    width: 5rem;
    height: 3rem;
    cursor: pointer;
    color: black;
}

.backspace {
    width: 1.4rem;
}

.botao:hover {
    background-color: white;
}

.botao:focus {
    background-color: white;
}

#btn-change {
    background-color:var(--pink-button);
}

#btn-change1 {
    width: 10.5rem; 
    background-color:var(--pink-button);
}

#btn-change2 {
    width: 10.5rem; background-color: var(--dark-blue-button);
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 28rem;
    background-color: var(--blue-calc-bg);
    border-radius: 0.5rem;
}

#resultado {
    color: black;
    font-size: 3rem;
}

.attribution {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: black;
}

a {
    color: black; 
}

@media screen and (max-width: 600px) {

    body {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    header {
        width: auto;
        margin: 4rem auto;

    }

    .content {
        margin: 0 15px 0 15px;
    }

    tr {
        width: auto;
    }

    header h1 {
        text-align: end;
        width: auto;
        font-size: 1.5rem;
        position: relative;
        right: 4rem;
    }

    header p{
        position: relative;
        left: 3.7rem;
        bottom: 3rem;
    }

    .toggle {
        position: relative;
        left: 4rem;
    }

    

    
}
